@import url("designSystem.css");

/* responsive mobile */

.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat (12, 1fr);
    grid-template-areas:

    "hd hd hd hd  hd hd hd hd  hd hd hd hd"
    ". . . nav  nav nav nav nav  nav . . ."
    ". . cd cd  cd cd cd cd  cd cd . ."
    "con con con con  con con con con  con con con con"
    "sup sup sup sup  sup sup sup sup  sup sup sup sup"
    "ft ft ft ft  ft ft ft ft  ft ft ft ft"
}


/* Heading */

.div1 {
    grid-area: hd; 
    background-color: #3CB2D0;
    display: grid;
    justify-items: center;
    height: 10vh;
}

/* Navigation */

.div2 {
    grid-area: nav;
    background-color: #3CB2D0;
    color:#fdefdb;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 7vh;
}

/* Author Intro Card */

.div3 {
    grid-area: cd;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0.3em;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 1px 1px 1px #272b2a3f;
    background: url(koiNobori.jpg);
}

#authorName {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#authorBio {
    text-align: left;
    margin-top: 0px;
    padding-left: 20px;
    font-size: 0.9em;
}

#authorTitle {
    margin-top: 0px;
    padding-top: 0px;
    color: #fbff00cc;
    font-weight: 700;
}

#avatar {
    margin-top: 3%;
    height: 200px;
    width: 300px;
}

/* Content */

.div4 {
    grid-area: con;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    grid-auto-rows: minmax(100px auto);
}

#innerHead {
    color: #fbff00cc;
    margin-top: 5px;
    margin-bottom: 5px;
}

#paraHead {
    margin-top: 5px;
    margin-bottom: 5px;
}

#paraHead2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#blogPhoto1 {
    margin-bottom: 0px;
    height: 80%;
    width: 80%;
}

#blogPhoto2 {
    margin-bottom: 0px;
    height: 80%;
    width: 80%;
}

#blogPhoto3 {
    margin-bottom: 0px;
    height: 80%;
    width: 80%;
}

/* Sign Up to Newsletter */

.signUp {
    grid-area: sup;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-auto-rows: minmax(100px auto);
}

#image1 {
    height: 200px;
    width: 300px;
    padding-top: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
}

#button1 {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 1px 1px 1px #272b2a3f;
}

/* Social Media Share Buttons */

#share {
    text-align: center;
}

#twitter {
    height: 50px;
    width: 50px;
}

#facebook {
    height: 50px;
    width: 50px;
}

#linkedIn {
    height: 50px;
    width: 50px;
}

/* Footer */

.div5 {
    grid-area: ft;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("koiNobori.jpg");
}

/* responsive tablet */

@media(min-width: 768px) {
    
    .wrapper {
        grid-template-areas:
    
        "hd hd hd hd  hd hd hd hd  hd hd hd hd"
        "nav nav nav nav  nav nav nav nav  nav nav nav nav"
        ". cd cd .  con con con con  con con con con"
        ". . . .  con con con con  con con con con"
        ". sup sup .  con con con con  con con con con"
        "ft ft ft ft  ft ft ft ft  ft ft ft ft"
    }

    /* Heading */
    
    #header {
        font-size: 3.5em;
    }

    /* Navigation */

    .div2 {
        font-size: 1.2em;
        justify-content: center;
    }

    /* Author Card */

    .div3 {
        margin-top: 30px;
        margin-left: 10%;
    }

    /* Content */

    .div4 {
        margin-right: 10%;
    }

    /* Sign Up to Newsletter */
    
    .signUp {
        padding-bottom: 20%;
        margin-left: 10%;
    }
}

/* responsive desktop */
@media(min-width: 1080px) {

    /* Navigation */
    
    .div2 {
        font-size: 1.3em;
    }

    /* Author Card */

    .div3 {
        margin-top: 20%;
        margin-left: 30%;
    }

    #authorName {
        font-size: 1.5em;
    }
    
    #authorBio {
        font-size: 1.1em;
    }

    #authorTitle {
        font-size: 1.1em;
    }

    /* Content */
    
    .div4 {
        margin-top: 10%;
        margin-right: 20%;
    }
        
    #innerHead {
        font-size: 3em;
    }
        
    #paraHead {
        font-size: 1.5em;
    }
    
    .par {
        font-size: 1.2em;
    }
        
    /* Sign Up to Newsletter */
    
    .signUp {
        padding-bottom: 20%;
        margin-left: 20%;
    }
}

/* tiny screen width */

@media(max-width: 600px) {
    h1 {
        font-size: 2.5em;
    }
}