@import url(../design-system/design-system.css);

/* responsive mobile */
.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat (12, 1fr);
    grid-template-areas:

    "hd hd hd hd  hd hd hd hd  hd hd hd hd"
    ". . . nav  nav nav nav nav  nav . . ."
    ". . cd cd  cd cd cd cd  cd cd . ."
    "con con con con  con con con con  con con con con"
    "sup sup sup sup  sup sup sup sup  sup sup sup sup"
    "ft ft ft ft  ft ft ft ft  ft ft ft ft"
}

/* Author Intro Card */
.div3 {
    grid-area: cd;
    display: flex;
    flex-wrap: wrap; /* Same setup as styles.css, so this should have been combined into one code */
    justify-content: center;
    border-radius: 0.3em;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 1px 1px 1px #272b2a3f;
    background: url(../webpage-master/koiNobori.jpg); 
}

#auth-name {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#auth-bio {
    text-align: left;
    padding-left: 20px;
    font-size: 0.9em;
}

#auth-title {
    color: #fbff00cc;
    font-weight: 700;
}

#avatar {
    margin-top: 3%;
}

/* Content */
#inner-head {
    color: #fbff00cc;
}

/* Social Media Share Buttons */
#share {
    text-align: center;
}

.logo {
    height: 50px;
    width: 50px;
}


/* responsive tablet */
@media(min-width: 768px) {

    .wrapper {
        grid-template-areas:

        "hd hd hd hd  hd hd hd hd  hd hd hd hd"
        "nav nav nav nav  nav nav nav nav  nav nav nav nav"
        ". cd cd .  con con con con  con con con con"
        ". . . .  con con con con  con con con con"
        ". sup sup .  con con con con  con con con con"
        "ft ft ft ft  ft ft ft ft  ft ft ft ft"
    }

    /* Heading */
    #header {
        font-size: 3.5em;
    }

    /* Navigation */
    .div2 {
        font-size: 1.2em;
        justify-content: center;
    }

    /* Author Card */
    .div3 {
        margin-top: 30px;
        margin-left: 10%; /* Wider screen allows for a nicer margin on the side */
    }

    /* Content */
    .div4 {
        margin-right: 10%; /* Wider screen allows for a nicer margin on the side */
    }

    /* Sign Up to Newsletter */
    .sign-up {
        padding-bottom: 20%;
        margin-left: 10%; /* Inline with div3 */
    }
}


/* responsive desktop */
@media(min-width: 1080px) {

    /* Navigation */
    .div2 {
        font-size: 1.3em;
    }

    /* Author Card */
    .div3 {
        margin-top: 20%;
        margin-left: 30%; /* Wider screen allows for a nicer margin on the side */
    }

    #auth-name {
        font-size: 1.5em;
    }

    #auth-bio {
        font-size: 1.1em;
    }

    #auth-title {
        font-size: 1.1em;
    }

    /* Content */
    .div4 {
        margin-top: 10%;
        margin-right: 30%; /* Wider screen allows for a nicer margin on the side */
    }

    #inner-head {
        font-size: 3em;
    }

    #para-head {
        font-size: 1.5em;
    }

    .par {
        font-size: 1.2em;
    }

}


/* tiny screen width */
@media(max-width: 600px) { /* Smaller screen smart phones */

    /* Header */
    h1 {
        font-size: 2.5em; /* Just wanted the webpage title to span the screen and not fold */
    }
}