/* THEME */
body {
    background-color: #3CB2D0;
    color: #fdefdb;
    font-family: "Zen Kaku Gothic Antique", Verdana, Tahoma, sans-serif;
    padding: 5px;
}

/* TYPOGRAPHY */
h1 {
    font-family: "Shizuru", "Zen Kaku Gothic Antique", Georgia, "Times New Roman", Times, serif;
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-family: "Raleway", Verdana, Tahoma, sans-serif;
    font-size: 2.4em;
}

h3 {
    font-family: "Raleway", Verdana, Tahoma, sans-serif;
    font-size: 1.3em;
    font-style: italic;
    padding-top: 0.5em;
}

hr { /* Used to break up the header and footer from the body content */
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p {
    text-align: justify;
}

a {
    padding: 5px;
    text-align: justify;
    color: #fdefdb;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    text-decoration: none; /* Removing underlined links */
}

a:hover {
    color: #fbff00cc;
}

/* BUTTON */
.button {
    background-color: #fbff00cc;
    color: #222;
    font-weight: 750;
    border: none;
    border-radius: 0.4em;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 1px 1px 1px #272b2a3f;
}

.button:hover { /* Would prefer a transition 'pop', but couldn't get it to work or at least look reasonable */
    background-color: #222;
    color: #fbff00cc;
}

/* IMAGES */
.photo {
    height: 200px;
    width: 300px;
    border: 2px solid #fbff00cc;
    margin: 20px;
}

.blog-img {
    height: 80%;
    width: 80%;
    border: 2px solid #fbff00cc;
}

.caption {
    display: flex;  /* flex in order to quickly have items aligned center below the image */
    flex-direction: column;
    align-items: center;
    font-style: italic;
    font-size: small; /* This is probably NOT a good idea - is it better to select a literal? */
}
